   <div class="login-container">
    <h1>Login</h1>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" [(ngModel)]="name" name="name" required>
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" required #emailInput="ngModel">
        <!-- Display error message if email is invalid -->
        <div [hidden]="!emailInput.invalid || !(emailInput.dirty || emailInput.touched)">
          <span [hidden]="!emailInput.hasError('required')">Email is required.</span>
          <span [hidden]="!emailInput.hasError('email')">Invalid email format.</span>
        </div>
      </div>
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
  </div>
  